*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    max-width: 1440px;
    padding-top: 40px;
    margin: 0 auto;
}