@import '../../sass/main.scss';

.header{
    @include flex(row, space-between, center);
    height: 68px;
    max-width: 95%;
    margin: 0 auto;
    @media screen and (max-width: 930px){
        height: 50px;
    }
    img{
        @media screen and (max-width: 730px){
            height: 50px;
        }
    }
}