@import '../../sass/main.scss';

.not-found-page {
    color: $color-second;

    &__info {
        @include flex(column, center, center);
        min-height: calc(100vh - 250px);
    }

    &__title {
        font-size: 288px;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 140px;
        }
    }

    &__content {
        font-weight: 500;
        font-size: 36px;
        text-align: center;
    }

    &__return {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
